@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ff7f50;
}

.container {
  background-color: red;
  height: 354vh;
  width: 75vw;
  margin-left: 145px;
  /* margin-right: -236px; */
  margin-top: 42px;
  
}

